@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');


* {
    font-family: 'Crimson Text', serif;
}

header {
    font-size:medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 600px;
    display: block;
}

/* styling for the start card */
#card-start {
    text-align: center;
}
#card-start h1 {
    font-size: 40px;
}
#card-start p {
    font-size: 20px;
}
#card-start button {
    font-size: 25px;
    padding: 5px 25px;
    height: 40px;
    background-image: linear-gradient(to right, purple, white, purple);
}


/* styling for the quiz card */
#card-quiz {
    text-align: left;
}
#card-quiz .question {
    font-size: 25px;
}
#card-quiz .answer li {
    list-style: none ;
    width: fit-content;
    margin: 5px;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 40px;
    color: white;
    background-color: rgba(92, 0, 128, 0.9);
    border-radius: 5px;;
}
#card-quiz .message {
    font-size: 20px;
    font-style: italic;
    color: grey;
    padding: 10px;;
    border-top: 1px solid grey;
}
#card-quiz li:hover {
    opacity: 0.6;
}

/* control hide or show the different cards */
.hide-card {
    display: none; 
}
.show-card {
   display: block; 
}
 