@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');


* {
    font-family: 'Crimson Text', serif;
}

header {
    font-size:medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#view-highscores a {
    text-decoration: none;
}
#view-highscores {
    margin: 15px;
}
#time-container {
    margin: 15px
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 60%;
    display: block;
    text-align: center;
}

button {
    font-size: 25px;
    padding: 0px 25px;
    height: 40px;
    margin: 5px 10px;
    background-image: linear-gradient(to right, rgb(83, 43, 226), white, rgb(83, 43, 226));
}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

label,
input {
    font-size: 25px;
    padding: 10px;

}


/* styling for the QUIZ card */
#card-quiz {
    text-align: left;
}
#card-quiz #question {
    font-size: 30px;
}

#card-quiz #choices {
    padding: 0;
}
#card-quiz #choices div {
    font-size: 20px;
    min-width: 400px;
    width: fit-content;
    margin: 10px;
    padding: 2px 40px;
    line-height: 40px;
    color: white;
    background-color: rgb(83, 43, 226);
    border-radius: 5px;;
}
#card-quiz #message {
    font-size: 25px;
    font-style: italic;
    color: grey;
    padding: 5px;;
}
#card-quiz #choices div:hover {
    background-color: rgba(152, 0, 179, 0.92);
}


/* styling for the END card */
#card-end {
    width: 500px;
}
#card-end input {
    margin-top: 1em;
    margin-bottom: 2em;
}
#highscores-list {
    min-height: 30vh;
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

#highscores-list div {
    width: 100%;
    margin: 10px 0px;
    padding: 2px 0px;
    font-size: 20px;
    line-height: 40px;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
}
