@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');


* {
    font-family: 'Crimson Text', serif;
}

header {
    font-size:medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#view-highscores a {
    text-decoration: none;
}
#view-highscores {
    margin: 15px;
}
#time-container {
    margin: 15px
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: block;
    text-align: center;
}

button {
    font-size: 25px;
    color: black;
    padding: 0px 25px;
    height: 40px;
    margin: 5px 10px;
    background-image: linear-gradient(to right, rgb(83, 43, 226), white, rgb(83, 43, 226));
}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

label,
input {
    font-size: 25px;
    padding: 10px;

}

/* styling for the START card */
#card-start {
    width: 50%;
}

/* styling for the QUIZ card */
#card-quiz {
    text-align: left;
    width: 50%;
}
#card-quiz #question {
    font-size: 30px;
}

#card-quiz #choices {
    width: 
    padding: 0;
}
#card-quiz #choices div {
    font-size: 20px;
    width: 80%;
    margin: 10px 0px;;
    padding: 2px 40px;
    line-height: 40px;
    color: white;
    background-color: rgb(83, 43, 226);
    border-radius: 5px;;
}
#card-quiz #message {
    font-size: 25px;
    font-style: italic;
    color: grey;
    padding: 5px;;
}
#card-quiz #choices div:hover {
    background-color: rgba(152, 0, 179, 0.92);
}


/* styling for the END card */
#card-end {
    width: 45%;
}
#card-end input {
    margin-top: 1em;
    margin-bottom: 1em;
}
#card-end #score {
    background-color: aqua;
    padding-left: 5px;
    padding-right: 5px;
}

/* styling for HighScore page */
#highscores-list {
    min-height: 30vh;
    background-color: #2d1477;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
#highscores-list div {
    width: 100%;
    margin: 10px 0px;
    padding: 2px 0px;
    font-size: 20px;
    line-height: 40px;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
}


/* Tablets */
@media screen and (max-width: 992px) {
    #card-start {
        width: 70%;
    }
    #card-quiz {
        width: 70%
    }
    #card-end {
        width: 50%;
    }
  }
  
/* Large smartphones */
  @media screen and (max-width: 768px) {
    #card-start {
        width: 90%;
    }
    #card-quiz {
        width: 95%
    }
    #card-end {
        width: 60%
    }
    #card-end input {
        width: 80%;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 10px;
}
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    #card-quiz {
        width: 100%
    }
    #card-quiz #choices div {
        width: 95%;
        padding: 2px 5px;
    }
    #card-end {
        width: 90%
    }
    header h3 {
        font-size: 20px;
    }
  }
